.main-footer {
    background: #031634;
    background-image: url(../assests/images/gamepad-white.png);
    background-repeat: repeat;
    padding: 2rem;
    color: white;
    display: grid;
    justify-content: end;
    .attribution a {
        color: white;
    }
}
