.game-card-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    // .no-games {
    //     jsutify
    // }
}
