.game-card-container {
    .game-card {
        img {
            cursor: pointer;
            max-width: 15rem;
            box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.5);
        }
        img.placeholder-img {
            max-height: 18rem;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    // Desktops with mouse
    .game-card-container {
        .game-card {
            &:hover {
                transform: scale(1.05);
                filter: brightness(70%);
                transition: all 0.5s;
            }
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    // Smartphones and touchscreens
    .game-card-container {
        .game-card {
            &:hover {
                transform: scale(1);
                filter: none;
                transition: none;
            }
        }
    }
}
